<!-- navigation -->
{% assign current = page.url | downcase | split: '.' %}{% assign nav_part = page.url | downcase | split: '/' %}
<header>
	<h1>Alniarez</h1>
	
	<nav>
		{% for item in site.data.navigation %}	{% assign link = item.link | append: '/' %} {% assign link_part = nav_part[1] | append: '/' | prepend: '/' %}
		<a {% if link  == current[0] or item.link  == current[0] or link_part == link %}class='underlined'{% endif %} href="{{ item.link }}">{{ item.emoji }} {{ item.name }}</a>
		{% endfor %}
	</nav>
</header>