@charset "UTF-8";

/* colours */
:root {
  --highlights-color: #fff759;
  --selection-color: #817238;
  --text-color: #d7d7d7;
  --background-color: #282828;
  --background-color-alternative: #3D3D3D;

  --tag-color-videogames: #2D8E39;
  --tag-color-personal: #AA2424;
  --tag-color-development: #4877E6;
  --tag-color-website: #4532A2;
}
/* No more light theme!
@media (prefers-color-scheme: light) {
  :root {
    --highlights-color: #a300cc;
    --selection-color: #fff759;
    --text-color: #2e2e2e;
    --background-color: #f6f6f6;
    --background-color-alternative: #E1E1E1; 
  }
}
*/
::selection {
  background-color: var(--selection-color);
  }

/* Generic elements */
html {
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Fira Sans", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;

  color: var(--text-color);
  background: var(--background-color);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
html {
  height: 100%;
}

h1 {
  font-size: 2.8rem;
  margin: 20px 0;
}

h2 {
  font-size: 2rem;
  margin: 16px 0;
}

h3 {
  font-size: 1.75rem;
  margin: 16px 0;
}

h4 {
  font-size: 1.5rem;
  margin: 16px 0;
}

h5 {
  font-size: 1.25rem;
  margin: 10px 0;
}

h6 {
  font-size: 1.125rem;
  margin: 10px 0;
}

nav {
  font-size: 1.125rem;
}

hr {
  border: 0;
  margin: 18px 0;
  border-bottom: 2px solid var(--text-color);
  border-top: 1px solid var(--background-color);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 2rem;
}

ul li {
  padding: 0.01rem 1rem;
  /*border-bottom: 1px solid var(--text-color);
  border-top: 1px solid var(--background-color);*/
}
/*
ul li:first-child {
  border-top: none;
}

ul li:last-child {
  border-bottom: none;
}
*/
a {
  color: inherit;
}

.hidden {
  display: none!important;
}

.font-title {
  font-size: calc(2rem + 7vw)
}

.font-sub-title{
  font-size: calc(0.8rem + 1.1vw)
}

.font-super-big {
  font-size: calc(2rem + 5vw);
}

.font-big {
  font-size: calc(0.9em + 1vw);
}

.underlined {
  text-decoration: underline;
  text-decoration-color: var(--highlights-color);
}

figure {
  margin: 0
}

img {
  max-width: 100%;
  height: auto;
}

.image {
  margin-left: auto;
  margin-right: auto;
}

/* page layout */
#visible {
  margin: 0;
  padding: 8px;
  height: 100vh;

  display: grid;
  grid-template-areas: 
  'nav'
  'main'
  'footer';
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr ;
}

#visible > * {
  min-width: 0;
}

/* Containers and all this */
main, article {
  padding: 0 0 2rem 0;
  grid-area: main;
  margin-bottom: auto;

  max-width: 1200px;
  justify-self: center;
  width: 100%;
}

section,
footer {
  padding: 0.2rem 1rem;
}

.flex{
  display: flex;
}

pre {
  background-color: var(--background-color-alternative);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;

  overflow: auto;
}

.flex.column{
  flex-direction: column;
}

.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
}

.grid > * {
  min-width: 0;
}


.grid.center,
.flex.center{
  justify-items: center;
  align-items: center;
}

/* Navitation */

.blur {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

nav {
  grid-area: nav;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;

  /*
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  */
}

@media all and (max-width: 800px) {
  nav {
    justify-content: space-around;
  }
}

nav a, nav span {
  text-decoration: none;
  text-align: center; 
  display: block;
  padding: 1em;
}

nav a:hover {
  text-decoration: underline;
}

footer {
  grid-area: footer;
}

/* Decoration */
h1::before,
h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
  border-left: 0.22em solid var(--highlights-color);
  padding-left: 0.11em;
  content: '';
}

blockquote {
  padding: 0.2rem 1rem;
  margin: 0;
  border-color: var(--text-color);
  border-style: solid;
  border-width: 1px 1px 1px 8px;
}

.tag {
  font-size: 0.7rem;
  border-radius: 0.5rem;
  background: var(--background-color-alternative);
  padding: 0.3rem;
}

.tag.development {
  background: var(--tag-color-development);
}

.tag.personal {
  background: var(--tag-color-personal);
}

.tag.videogames {
  background: var(--tag-color-videogames);
}

.tag.website {
  background: var(--tag-color-website);
}